{% extends "products/parent.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}

<div align="center">
	<h1>Make Payment</h1>
	<form method="POST" action="{%url 'make_payment'%}">
		{% csrf_token %}


	 <input type="radio" id="yearly" name="subcription" value="Y">
<label for="yearly">Yearly  Rs 5.00</label><br>
<input type="radio" id="monthly" name="subcription" value="M">
<label for="monthly">Monthly  Rs 1.00</label><br>
<button type="submit"> proceed for Payment</button>
	</form>
</div>
{% endblock%}