{% extends "products/parent.html" %}


{%block body%}

<html>
<head>
	<title></title>
	<style >
		input {
  border: 2px solid;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0.25rem;
  min-width: 125px;
  padding: 0.5rem;
  transition: background-color 0.5s ease-out;
}
input:optional {
  border-color: gray;
}
input:required {
  border-color: black;
}
input:invalid {
  border-color: red;
}
p{
	font-family: cursive;
}


	</style>

</head>
<body>
<div style="padding: 15px;height: 700px; background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');" >


<h3>Enter new password</h3>

<p >Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Update Password">
	
</form>
	</div>
</body>
</html>

{%endblock%}