
{% extends "products/parent.html" %}

{%block body%}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body >
<div style="padding: 15px;height: 700px;background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');" align="center" >


<h3>Password reset sent</h3>

<p style="font-family:Castellar;">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<font face="algerian" size="5" color="blue">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</font>

</div>
</body>
</html>

{%endblock%}