{% extends "products/parent.html" %}

{%block body%}

<html>
<head>
	<title></title>
	<style>
	.example_e {
border: none;
background: #404040;
color: #ffffff !important;
font-weight: 100;
padding: 20px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

</style>
</head>
<body>


<h3>Password reset complete</h3>
<div class="button_cont" align="center" style=" height: 700px;background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
	<h3 >Password reset complete</h3>

<p>Your password has been set. You may go ahead and log in now.</p>
<a class="example_e" href="{%url 'login' %}" target="_blank" rel="nofollow noopener">Go to Log In</a></div>


</body>
</html>


{%endblock%}