{% extends "products/parent.html" %}

{%block body%}

<html>
<head>
	<title></title>
	<style >
		input {
  border: 2px solid;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0.25rem;
  min-width: 125px;
  padding: 0.5rem;
  transition: background-color 0.5s ease-out;
}
input:optional {
  border-color: gray;

}
input:required {
  border-color: black;
}
input:invalid {
  border-color: red;
}
	</style>
</head>
<body>


<div style="padding: 15px; height: 700px; background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');" align="center">


<h3>Password reset</h3>

<p style="background-color: #ADD8E6	;">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p><br>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Send email">
	<input style="background-color: pink;" type="Submit" name="Send email">

	
</form>

	</div>

</body>
</html>

{%endblock%}