{% extends "products/parent.html" %}

{% block title %}
payment status

{% endblock %}



{% block body %}
<h2 style="font: 2rem monospace; color: brown;" align="center">ALL PAYMENT STATUS</h2>
<div align="center"><button  style="color: black; border-radius: 5px;"><a  href="{%url 'make_payment'%}">get subcription</a></button></div>
<br>
{% for obj in info%}
<div {% if obj.status == "TXN_SUCCESS" %}
style="background-color: green;border-radius: 8px;"

{%else%}

style="background-color: red; border-radius: 8px; "
{% endif %}
>

	<h3 style="margin-left: 5px;">{{obj.status}} <span style="float: right;">{{obj.startdate}}</span></h3>
      <h3 style="margin-left: 5px;">Type  - {{obj.type}}</h3>
<h3 style="margin-left: 5px;">Amount INR {{obj.amount}}</h3>

</div>
<div style="background-color: white;height: 8px;"></div>

{%endfor%}
{% endblock %}